node_modules

local.db
[dist]
.env
.env.*
.DS_Store
pnpm-lock.yaml
coverage/
*.log
*.sqlite
*.sqlite3
/.vercel
/.next
/.cache
out/
tmp/
temp/
build/
logs/
*.swp
*.swo
*.bak
*.tmp
__pycache__/
*.pyc
*.pyo
*.pyd
*.idea/
.vscode/
