---
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro';
import { BRAND } from 'astro:schema';
import Carousel from '../components/ui/Carousel.astro';
import CardsNotices from '../components/ui/CardsNotices.astro';
import FlipCard from '../components/ui/Target.astro';
import { db, News, Usuarios } from 'astro:db';

// Obtener noticias de SisInf desde la base de datos
const noticiasAll = await db.select().from(News);

const noticiasSisInf = noticiasAll.filter((noticia) => noticia.userId === 3);
---


<Layout
  title="Inicio - Mi App Astro"
  description="Bienvenido a mi aplicación construida con Astro y las mejores prácticas de desarrollo web"
>
  <!-- Hero Section -->
  <section class="bg-gradient-to-r from-blue-200 to-indigo-50 py-20">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <div class="flex justify-between items-center ">
           <!-- Logo Izquierdo -->
          <img src="/src/Image/FNI.png" alt="Logo izquierdo" class="w-30 h-auto">
          <h1 class="text-4xl md:text-5xl font-bold text-gray-900 mb-6">
            Bienvenido a las <br>
            <span style="color:#023059">Sociedades Científicas de la F.N.I.</span>
          </h1>
           <!-- Logo derecho -->
          <img src="/src/Image/OSCE.png" alt="Logo derecho" class="w-50 h-auto">
        </div>

        <div class="flex gap-6 items-center py-5">
          <div class="w-3/5 flex-none">
            <p class="text-xl text-gray-600 text-justify px-4">
              Las sociedades científicas contribuyen al desarrollo estudiantil y al desarrollo profesional
              forjando jóvenes con ganas de aprender y que tengan la valentía de sobresalir entre todos los demás.
              <br><br>Por ello, la Facultad Nacional de Ingeniería de la Universidad Técnica de Oruro comprende con 11 
              sociedades científicas actualmente, las cuales son representadas por la Organización de Sociedades Científicas de Estudiantes de la F.N.I. (OSCE-FNI)
            </p>            
          </div>
          <div class="w-2/5 flex-none ">
            <Carousel ></Carousel>
          </div> 
        </div>


        <div class="flex flex-col sm:flex-row gap-4 justify-center">
          <Button href="/about" variant="primary" size="lg"> Conocer más </Button>
          <Button href="/blog" variant="secondary" size="lg"> Ver blog </Button>
        </div>
      </div>
    </div>
  </section>

  <!-- Features Section -->
  <section class="py-20 bg-white">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-16">
        <h2 class="text-3xl font-bold text-gray-900 mb-4">Historia</h2>
        <p class="text-gray-600 max-w-2xl mx-auto">
          Construida con tecnologías modernas y siguiendo las mejores prácticas
        </p>
      </div>
      <div class="text-center mb-16">
        <h2 class="text-3xl font-bold text-gray-900 mb-4">Nuestras Autoridades</h2>
        <div class="flex flex-wrap justify-center gap-6">
          <FlipCard 
            name="M.Sc. Ing. Pedro Román Vallejos Mamani"
            role="Director de la Dirección de Investigación Científica y Tecnolófica U.T.O. (DICyT)"
            email=""
            phone="+591 72462547"
            photo="src/Image/Im_Inicio/Dicyt.jpg"
            facebook=""
            linkedin=""
          />
          <FlipCard 
            name="M.Sc. Ing. Ramiro Franz Aliendre García"
            role="Decano de la Facultad Nacional de Ingeniería"
            email=""
            phone=""
            photo="src/Image/Im_Inicio/Decano.jpg"
            facebook=""
            linkedin=""
          /> 
          <FlipCard 
            name="M.Sc. Ing. Miguel Alejandro Ruíz"
            role="Vicedecano de la Facultad Nacional de Ingeniería"
            email=""
            phone=""
            photo="src/Image/Im_Inicio/Vicedecano.jpg"
            facebook=""
            linkedin=""
          />  
          <FlipCard 
            name="Ph.D. Ing. Amilkar Ernesto Ilaya Ayza"
            role="Director de Dirección de Postgradi e Investigación Científica F.N.I. (DPIC - FNI)"
            email=""
            phone=""
            photo="src/Image/Im_Inicio/"
            facebook=""
            linkedin=""
          />
          <FlipCard 
            name="Univ. Rodrigo Ledezma"
            role="Presidente de la Organización de Sociedades Científicas de la F.N.I. (O.S.C.E. - FNI)"
            email=""
            phone="+591 71857038"
            photo="src/Image/Im_Inicio/Osce.jpg"
            facebook=""
            linkedin=""
          />                     
        </div>

        
      </div>
      <div class="text-center mb-16">
        <h2 class="text-3xl font-bold text-gray-900 mb-4">Noticias</h2>
        <!-- Mostrar noticias de SisInf -->
        <CardsNotices noticias={noticiasSisInf} />
      </div>
    </div>
  </section>
</Layout>
